<!DOCTYPE html>
<html lang="pl">
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<title>The Big Run - największy bieg w Warszawie</title>
    {% load static %}
	<!-- stylesheet css -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/nivo-lightbox.css' %}">
	<link rel="stylesheet" href="{% static 'css/nivo_themes/default/default.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- google web font css -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600,700' rel='stylesheet' type='text/css'>

</head>

<body data-spy="scroll" data-target=".navbar-collapse">
    {% include "MainSite/globalHeader.html" %}

    {% block body %} {% endblock %}

    {% include "MainSite/globalFooter.html" %}
</body>
</html>