{% block header %}
<div id="global-header" style="color:blue">
    <div id="MainSiteLinks">
        <a href="{% url 'home' %}" class="headerButton"> Strona Główna </a>
        <a href="{% url 'eventDescription' %}" class="headerButton"> Informacje o biegu </a>
        <a href="{% url 'sponsors' %}" class="headerButton"> Sponsorzy </a>
        <a href="{% url 'userAccount:userHome' %}" class="headerButton"> Konto </a> <!-- TODO when user account will be done, change url to proper -->
    </div>

    {# references UserAccount app #}
    <div id="UserAccountLinks">
        <a href="{% url 'userAccount:login' %}" class="headerButton"> Zaloguj </a>
        <a href="{% url 'userAccount:register' %}" class="headerButton"> Zarejestruj się </a>
    </div>
</div>
{% endblock %}