{% extends "UserAccount/base.html" %}

{% block body %}
<h1> Wyniki biegu </h1>

    {# it's check if there are results, if not it's showing a proper message not table #}
    {% if results_table.object_list|length_is:"0" %}
            <div id="no-result-table-info">
                Wyniki biegu pojawią się do 24 godzin po zakończeniu imprezy biegowej. <br/>
                Prosimy o cierpliwość i życzymy wysokich wyników.

            </div>

     {% else %}
        {# display table with results #}
        {% if error_msg %}
            <div class="error-msg">
                {{ error_msg }}
            </div>

        {% endif %}


        <table id="result-table">
            <tr>
                <th> Miejsce </th>
                <th> id biegacza</th>
                <th> nick </th>
                <th> Imię </th>
                <th> Nazwisko </th>
                <th> Czas po 5 km</th>
                <th> Czas po 10 km</th>
            </tr>
            {% for result in results_table %}
                {# Each "result" is a RunResultsTable model object. #}

                <tr class="table-row {% if searched_user_id %}
                    {% if searched_user_id == result.user_id %}
                        markered-row
                    {% endif %}
                {% endif %} ">
                    <td>{{ forloop.counter | add:first_runner_position_on_page }}</td>
                    <td>{{ result.user_id }}</td>
                    <td>{{ result.runner_id }}</td>
                    <td>{{ result.user_first_name }}</td>
                    <td>{{ result.user_last_name }}</td>
                    <td>{{ result.time_5km }}</td>
                    <td>{{ result.time_overall }}</td>
                 </tr>
            {% endfor %}

        </table>

        <div class="pagination">
            <span class="step-links">
                {% if results_table.has_previous %}
                    <a href="?page={{ results_table.previous_page_number }}">poprzednia</a>
                {% endif %}

                <span class="current">
                    Strona {{ results_table.number }} z {{ results_table.paginator.num_pages }}.
                </span>

                {% if results_table.has_next %}
                    <a href="?page={{ results_table.next_page_number }}">następna</a>
                {% endif %}
            </span>
        </div>

    {% endif %}
{% endblock %}