{% extends "admin/base_site.html" %}
{% block content %}
   <div class="admin-message">
        {{ message | safe }}
   </div>

    <h2>Formularz importu wyników biegu</h2>
    <p>
        Aby zakutalizować wyniki w serwisie, należy wysłać poprzez ten formularz plik w formacie CSV z wynikami biegu. Kolejność kolumn
        powinna być następująca: id_biegacza, czas_5km, czas_10km.
    </p>
    <form action="{% url 'adminImportRunTable' %}" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        {{ form }}

        <input type="submit" value="Wyślij" />
    </form>

{% endblock %}